@media screen and (max-width :1587px){
    body{
        width: 100%;
    }
}
@media screen and (max-width :1540px){
    body{
        width: 100%;
    }
}
@media screen and (max-width :1270px){
    body{
        width: 100%;
    }
}